<!DOCTYPE=html>
<html>
    <head>
        <title>Envio de e-mail</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h3>Envio de e-mail por workers concorrentes</h3>
            <form action="/email/concurrent" method="POST">
                <label>Destinatário:</label>
                <input type="text" name="to" value={{.to}}/>
                <label>Assunto:</label>
                <input type="text" name="subject" value={{.subject}}/>
                <label>Mensagem:</label>
                <textarea name="message">
                    {{.message}}
                </textarea>
                <input type="submit" value="Enviar" />
            </form>
        </div>
    </body>
    <style>
        body {
                font-family: 'Roboto', sans-serif;
            }
        h3 {
            text-align: center;
        }
        hr {
            height: 0.5px;
        }
        input, textarea {
            width: 80%;
            margin: auto;
            display: block;
            padding: 5px;
        }
        label {
            width: 80%;
            margin: auto;
            margin-top: 10px;
            display: block;
        }
        input[type="submit"] {
            margin-top: 10px;
        }
        .container {
            width:70%;
            margin: auto;
            padding: 10%;
        }
    </style>
</html>