<!DOCTYPE=html>
<html>
    <head>
        <title>Envio de e-mail</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2>Envio de e-mails enfileirados pelo RabbitMQ</h2>
            <h3>De que forma você deseja enviar os e-mails?</h3>
            <a href="/email" class="minion">
                <img src="/img/worker.png" alt="minion"/>
                <span>1 worker</span>
            </a>
            <a href="/email/concurrent" class="minion">
                <img src="/img/concorrentes.png" alt="minions"/>
                <span>Workers concorrentes</span>
            </a>
        </div>
    </body>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        h2, h3 {
            text-align: center;
        }
        hr {
            height: 0.5px;
        }
        input, textarea {
            width: 80%;
            margin: auto;
            display: block;
            padding: 5px;
        }
        label {
            width: 80%;
            margin: auto;
            margin-top: 10px;
            display: block;
        }
        input[type="submit"] {
            margin-top: 10px;
        }
        .container {
            width:60%;
            margin: auto;
            padding: 10%;
        }
        .minion {
            text-decoration: none;
            text-align: center;
            margin: 15%;
            display: inline-block;
        }
        .minion > img {
            display: block;
        }
        .minion > span {
            text-align: center;
            display: inline-block;
        }
    </style>
</html>